* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.App {
	width: 800px;
}

.post {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	padding: 15px;
	border: 2px solid teal;
	margin-top: 15px;
}

.post__content {
	max-width: 550px;
}

.post__btns {
	display: flex;
	max-width: 180px;
	gap: 10px;
}

.login {
	margin-top: 50px;
}

.login__form {
	width: 500px;
	
	border: 1px solid teal;
	padding: 20px 30px 30px 30px;
}

.loader {
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.create__btn {
	margin-top: 30px;
	margin-bottom: 30px;
}

.select__page {
	margin-top: 30px;
}