.comments {
	width: 100%;
	
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.subtitle {
	margin-top: 50px;
	font-size: 32px;
}

.loader {
	margin-top: 50px;
	display: flex;
	justify-content: center;
}